In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
maize_hist = pd.read_csv('./Gridcell_summary_maize_1990_2019_historical_SSP370_IPSL-CM6A-LR.csv')
maize_126 = pd.read_csv('./Gridcell_summary_maize_2035_2064_future_SSP126_IPSL-CM6A-LR.csv')
maize_370 = pd.read_csv('./Gridcell_summary_maize_2035_2064_future_SSP370_IPSL-CM6A-LR.csv')

In [6]:
# return the minimum  value of maize_hist["sowingYear"] and maize_126["sowingYear"]
min(maize_hist["SowingYear"].min(), maize_126["SowingYear"].max(), maize_370["SowingYear"].max())

1990

In [14]:
maize_hist

,Exp.,Species.,Trt.,row,col,long,lat,SowingDate,Duration,Biomass,Yield,MaturityDay,SowingYear,MaturityYear
0,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,81,1996-07-13,1996,1996
1,76692,maize,77,107,372,5.75,36.75,1995-03-21,120,5677,1930,1995-07-19,1995,1995
2,76692,maize,77,107,372,5.75,36.75,2010-03-21,116,594,202,2010-07-15,2010,2010
3,76692,maize,77,107,372,5.75,36.75,2004-03-20,120,2075,705,2004-07-18,2004,2004
4,76692,maize,77,107,372,5.75,36.75,1991-03-21,114,202,69,1991-07-13,1991,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153526,179680,maize,5354,250,400,19.75,-34.75,1994-12-26,82,146,50,1995-03-18,1994,1995
153527,179680,maize,5354,250,400,19.75,-34.75,1996-12-25,76,11,4,1997-03-11,1996,1997
153528,179680,maize,5354,250,400,19.75,-34.75,1991-12-26,84,233,79,1992-03-19,1991,1992
153529,179680,maize,5354,250,400,19.75,-34.75,2006-12-26,80,81,28,2007-03-16,2006,2007
153530,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,188,2002-03-18,2001,2002

In [15]:
print(maize_hist["Yield"].max(), maize_hist["Yield"].min())

5945 0

In [12]:
maize_370["SowingYear"].max()

2064

In [5]:
maize_hist

,Exp.,Species.,Trt.,row,col,long,lat,SowingDate,Duration,Biomass,Yield,MaturityDay,SowingYear,MaturityYear
0,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,81,1996-07-13,1996,1996
1,76692,maize,77,107,372,5.75,36.75,1995-03-21,120,5677,1930,1995-07-19,1995,1995
2,76692,maize,77,107,372,5.75,36.75,2010-03-21,116,594,202,2010-07-15,2010,2010
3,76692,maize,77,107,372,5.75,36.75,2004-03-20,120,2075,705,2004-07-18,2004,2004
4,76692,maize,77,107,372,5.75,36.75,1991-03-21,114,202,69,1991-07-13,1991,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153526,179680,maize,5354,250,400,19.75,-34.75,1994-12-26,82,146,50,1995-03-18,1994,1995
153527,179680,maize,5354,250,400,19.75,-34.75,1996-12-25,76,11,4,1997-03-11,1996,1997
153528,179680,maize,5354,250,400,19.75,-34.75,1991-12-26,84,233,79,1992-03-19,1991,1992
153529,179680,maize,5354,250,400,19.75,-34.75,2006-12-26,80,81,28,2007-03-16,2006,2007
153530,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,188,2002-03-18,2001,2002

In [10]:
# add _maize_370 to the end of column names of maize_370
maize_370.columns = [str(col) + '_maize_370' for col in maize_370.columns]
maize_126.columns = [str(col) + '_maize_126' for col in maize_126.columns]
maize_hist.columns = [str(col) + '_maize_hist' for col in maize_hist.columns]

In [11]:
# join the row and col columns in maize_hist
maize_hist['row_col'] = maize_hist['row_maize_hist'].astype(str) + '_' + maize_hist['col_maize_hist'].astype(str)
maize_126['row_col'] = maize_126['row_maize_126'].astype(str) + '_' + maize_126['col_maize_126'].astype(str)
maize_370['row_col'] = maize_370['row_maize_370'].astype(str) + '_' + maize_370['col_maize_370'].astype(str)

In [12]:
# convert maize to geodataframe
maize_hist = gpd.GeoDataFrame(maize_hist, geometry=gpd.points_from_xy(maize_hist.long_maize_hist, maize_hist.lat_maize_hist))
maize_370 = gpd.GeoDataFrame(maize_370, geometry=gpd.points_from_xy(maize_370.long_maize_370, maize_370.lat_maize_370))
maize_126 = gpd.GeoDataFrame(maize_126, geometry=gpd.points_from_xy(maize_126.long_maize_126, maize_126.lat_maize_126))

In [27]:
# how many unique row_col values are there in maize_hist?
maize_hist['geometry'].nunique()

1

In [29]:
# sort maize_hist by row_col
maize_hist = maize_hist.sort_values(by=['row_col'])
maize_370 = maize_370.sort_values(by=['row_col'])
maize_126 = maize_126.sort_values(by=['row_col'])

In [31]:
maize_hist

,Exp._maize_hist,Species._maize_hist,Trt._maize_hist,row_maize_hist,col_maize_hist,long_maize_hist,lat_maize_hist,SowingDate_maize_hist,Duration_maize_hist,Biomass_maize_hist,Yield_maize_hist,MaturityDay_maize_hist,SowingYear_maize_hist,MaturityYear_maize_hist,row_col,geometry
0,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,81,1996-07-13,1996,1996,107_372,POINT (5.75000 36.75000)
7,76692,maize,77,107,372,5.75,36.75,2012-03-20,120,1990,676,2012-07-18,2012,2012,107_372,POINT (5.75000 36.75000)
12,76692,maize,77,107,372,5.75,36.75,1997-03-21,117,283,96,1997-07-16,1997,1997,107_372,POINT (5.75000 36.75000)
11,76692,maize,77,107,372,5.75,36.75,2005-03-21,120,7136,2426,2005-07-19,2005,2005,107_372,POINT (5.75000 36.75000)
10,76692,maize,77,107,372,5.75,36.75,2017-03-21,114,226,77,2017-07-13,2017,2017,107_372,POINT (5.75000 36.75000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153520,179680,maize,5354,250,400,19.75,-34.75,2010-12-26,78,149,51,2011-03-14,2010,2011,250_400,POINT (19.75000 -34.75000)
153519,179680,maize,5354,250,400,19.75,-34.75,1998-12-26,77,17,6,1999-03-13,1998,1999,250_400,POINT (19.75000 -34.75000)
153516,179680,maize,5354,250,400,19.75,-34.75,2011-12-26,76,164,56,2012-03-11,2011,2012,250_400,POINT (19.75000 -34.75000)
153510,179680,maize,5354,250,400,19.75,-34.75,2007-12-26,81,65,22,2008-03-16,2007,2008,250_400,POINT (19.75000 -34.75000)
153530,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,188,2002-03-18,2001,2002,250_400,POINT (19.75000 -34.75000)

In [30]:
maize_126

,Exp._maize_126,Species._maize_126,Trt._maize_126,row_maize_126,col_maize_126,long_maize_126,lat_maize_126,SowingDate_maize_126,Duration_maize_126,Biomass_maize_126,Yield_maize_126,MaturityDay_maize_126,SowingYear_maize_126,MaturityYear_maize_126,row_col,geometry
0,76692,maize,77,107,372,5.75,36.75,2038-03-21,120,2493,848,2038-07-19,2038,2038,107_372,POINT (5.75000 36.75000)
29,76692,maize,77,107,372,5.75,36.75,2041-03-21,99,130,44,2041-06-28,2041,2041,107_372,POINT (5.75000 36.75000)
28,76692,maize,77,107,372,5.75,36.75,2047-03-21,107,2529,860,2047-07-06,2047,2047,107_372,POINT (5.75000 36.75000)
27,76692,maize,77,107,372,5.75,36.75,2054-03-21,118,1015,345,2054-07-17,2054,2054,107_372,POINT (5.75000 36.75000)
26,76692,maize,77,107,372,5.75,36.75,2042-03-21,107,187,63,2042-07-06,2042,2042,107_372,POINT (5.75000 36.75000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157840,179680,maize,5354,250,400,19.75,-34.75,2040-12-25,83,1713,582,2041-03-18,2040,2041,250_400,POINT (19.75000 -34.75000)
157839,179680,maize,5354,250,400,19.75,-34.75,2059-12-26,73,28,9,2060-03-08,2059,2060,250_400,POINT (19.75000 -34.75000)
157865,179680,maize,5354,250,400,19.75,-34.75,2053-12-26,73,11,4,2054-03-09,2053,2054,250_400,POINT (19.75000 -34.75000)
157851,179680,maize,5354,250,400,19.75,-34.75,2043-12-26,78,86,29,2044-03-13,2043,2044,250_400,POINT (19.75000 -34.75000)
157866,179680,maize,5354,250,400,19.75,-34.75,2060-12-25,72,18,6,2061-03-07,2060,2061,250_400,POINT (19.75000 -34.75000)

In [20]:
# join maize_hist maize_370 and maize_126 on geometry
maize1 = maize_hist.merge(maize_370, on='row_col', how='outer')

In [ ]:
maize = maize.merge(maize_126, on='row_col', how='outer')

In [21]:
maize

,Exp._maize_hist,Species._maize_hist,Trt._maize_hist,row_maize_hist,col_maize_hist,long_maize_hist,lat_maize_hist,SowingDate_maize_hist,Duration_maize_hist,Biomass_maize_hist,...,long_maize_126,lat_maize_126,SowingDate_maize_126,Duration_maize_126,Biomass_maize_126,Yield_maize_126,MaturityDay_maize_126,SowingYear_maize_126,MaturityYear_maize_126,geometry
0,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,...,5.75,36.75,2038-03-21,120,2493,848,2038-07-19,2038,2038,POINT (5.75000 36.75000)
1,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,...,5.75,36.75,2058-03-21,118,2712,922,2058-07-17,2058,2058,POINT (5.75000 36.75000)
2,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,...,5.75,36.75,2062-03-21,113,186,63,2062-07-12,2062,2062,POINT (5.75000 36.75000)
3,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,...,5.75,36.75,2035-03-21,107,230,78,2035-07-06,2035,2035,POINT (5.75000 36.75000)
4,76692,maize,77,107,372,5.75,36.75,1996-03-20,115,238,...,5.75,36.75,2043-03-21,103,394,134,2043-07-02,2043,2043,POINT (5.75000 36.75000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139919746,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,...,19.75,-34.75,2058-12-26,83,1832,623,2059-03-19,2058,2059,POINT (19.75000 -34.75000)
139919747,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,...,19.75,-34.75,2048-12-25,75,20,7,2049-03-10,2048,2049,POINT (19.75000 -34.75000)
139919748,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,...,19.75,-34.75,2038-12-26,82,478,162,2039-03-18,2038,2039,POINT (19.75000 -34.75000)
139919749,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,...,19.75,-34.75,2053-12-26,73,11,4,2054-03-09,2053,2054,POINT (19.75000 -34.75000)
139919750,179680,maize,5354,250,400,19.75,-34.75,2001-12-26,82,554,...,19.75,-34.75,2060-12-25,72,18,6,2061-03-07,2060,2061,POINT (19.75000 -34.75000)

In [32]:
# write each file to geojson
maize_126.to_file('maize_126.geojson', driver='GeoJSON')
maize_370.to_file('maize_370.geojson', driver='GeoJSON')
maize_hist.to_file('maize_hist.geojson', driver='GeoJSON')